# **Chapter 5. [ë°ì´í„°ë² ì´ìŠ¤] ì‡¼í•‘ëª° ë°ì´í„°ë² ì´ìŠ¤ ë§Œë“¤ê¸°**


---
### ğŸ“ **í•™ìŠµ ëª©ì°¨**
> 5-1. í”„ë¡œì íŠ¸ ê°œìš” <br>
> 5-2. csv íŒŒì¼ ë‹¤ë£¨ê¸° - csv <br>
> 5-3. ë°ì´í„° ë² ì´ìŠ¤ ì—°ê²° - sqlite3 <br>
> 5-4. ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°, ì¡°íšŒí•˜ê¸° - fetchone, fetchall <br>
> 5-5. ë°ì´í„° ì‚½ì…, ìˆ˜ì •, ì‚­ì œ** <br>
> **5-6. ë°ì´í„° ë°±ì—…í•˜ê¸° - iterdump** <br>
> 5-7. í”„ë¡œì íŠ¸ ì‹¤ìŠµ

## 5-6. ë°ì´í„° ë°±ì—…í•˜ê¸°

> ### iterdump
> - ë°ì´í„° ë² ì´ìŠ¤ë¥¼ ë°±ì—…í•  ë•Œ ì‚¬ìš©í•˜ëŠ” ëª¨ë“ˆ
> - `.sql` íŒŒì¼ í™•ì¥ìë¡œ **í…Œì´ë¸”ì„ ë‹¤ì‹œ ë³µì›**í•  ìˆ˜ ìˆëŠ” ì¿¼ë¦¬ë¬¸ì„ ì €ì¥

In [1]:
import sqlite3

In [2]:
# ì—°ìŠµìš© DB ì—°ê²°
conn = sqlite3.connect("test.db")
# ì»¤ì„œ ìƒì„±
c = conn.cursor()

In [3]:
# ì¶”ê°€í•  ìƒí’ˆ ë¦¬ìŠ¤íŠ¸
product_list = [[1, 'ëª¨ì', 15000],
                [2, 'ì½”íŠ¸', 200000],
                [3, 'í‹°ì…”ì¸ ', 20000],
                [4, 'ë¸”ë¼ìš°ìŠ¤', 55000],
                [5, 'ê°€ë””ê±´', 45000],
                [6, 'ì²­ë°”ì§€', 50000],
                [7, 'êµ¬ë‘', 150000],
                [8, 'ê°€ë°©', 170000]]

In [4]:
# ë°ì´í„° ì—¬ëŸ¬ì¤„ ì‚½ì…
c.executemany("INSERT OR REPLACE INTO test(ID, PRODUCT_NAME, PRICE) VALUES(?,?,?)", product_list)
conn.commit()

In [5]:
# iterdump ë‚´ìš© í™•ì¸
for line in conn.iterdump():
    print(line)

BEGIN TRANSACTION;
CREATE TABLE test (ID INTEGER PRIMARY KEY, PRODUCT_NAME TEXT, PRICE INTEGER);
INSERT INTO "test" VALUES(0,'ëª¨ì',15000);
INSERT INTO "test" VALUES(1,'ëª¨ì',15000);
INSERT INTO "test" VALUES(2,'ì½”íŠ¸',200000);
INSERT INTO "test" VALUES(3,'í‹°ì…”ì¸ ',20000);
INSERT INTO "test" VALUES(4,'ë¸”ë¼ìš°ìŠ¤',55000);
INSERT INTO "test" VALUES(5,'ê°€ë””ê±´',45000);
INSERT INTO "test" VALUES(6,'ì²­ë°”ì§€',50000);
INSERT INTO "test" VALUES(7,'êµ¬ë‘',150000);
INSERT INTO "test" VALUES(8,'ê°€ë°©',170000);
CREATE TABLE test2 (ID INTEGER PRIMARY KEY, PRODUCT_NAME TEXT, PRICE INTEGER);
COMMIT;

In [6]:
# ë°ì´í„° ë² ì´ìŠ¤ ë°±ì—… íŒŒì¼ ìƒì„±
with conn:
    with open('backup.sql', 'w') as f:
        for line in conn.iterdump():
            f.write('%s\n' % line)
        print('Completed.')

Completed.

In [7]:
# í…Œì´ë¸” ì‚­ì œ
c.execute("DROP TABLE test")
conn.commit()

In [8]:
# ë°±ì—… SQL íŒŒì¼ ë¡œë”©
with open('backup.sql', 'r') as sql_file:
    sql_script = sql_file.read()

In [9]:
sql_script

'BEGIN TRANSACTION;\nCREATE TABLE test (ID INTEGER PRIMARY KEY, PRODUCT_NAME TEXT, PRICE INTEGER);\nINSERT INTO "test" VALUES(0,\'ëª¨ì\',15000);\nINSERT INTO "test" VALUES(1,\'ëª¨ì\',15000);\nINSERT INTO "test" VALUES(2,\'ì½”íŠ¸\',200000);\nINSERT INTO "test" VALUES(3,\'í‹°ì…”ì¸ \',20000);\nINSERT INTO "test" VALUES(4,\'ë¸”ë¼ìš°ìŠ¤\',55000);\nINSERT INTO "test" VALUES(5,\'ê°€ë””ê±´\',45000);\nINSERT INTO "test" VALUES(6,\'ì²­ë°”ì§€\',50000);\nINSERT INTO "test" VALUES(7,\'êµ¬ë‘\',150000);\nINSERT INTO "test" VALUES(8,\'ê°€ë°©\',170000);\nCREATE TABLE test2 (ID INTEGER PRIMARY KEY, PRODUCT_NAME TEXT, PRICE INTEGER);\nCOMMIT;\n'

In [10]:
# SQL ìŠ¤í¬ë¦½íŠ¸ ì‹¤í–‰
c.executescript(sql_script)
conn.commit()

OperationalError: table test2 already exists

In [ ]:
# ë°ì´í„° ë³µì› í™•ì¸